/.vscode
/venv
*.pyc
/docs/html/
/softioc/_extension.*

# Dist build output
/build
/dist
/softioc.egg-info/

# Coverage reports
.coverage
cov.xml

/docs/papers/*/*.aux
/docs/papers/*/*.pdf
/docs/papers/*/*.nav
/docs/papers/*/*.out
/docs/papers/*/*.snm
/docs/papers/*/*.toc
/docs/papers/*/*.vrb
